.spinner {
  @apply shrink-0 relative inline-block rounded-full pointer-events-none animate-spin [animation-duration:0.6s]
  motion-reduce:[animation-duration:1.2s];

  background: conic-gradient(from 0deg, transparent 25%, currentColor 100%);
  mask: radial-gradient(farthest-side, transparent calc(100% - 0.15em), black calc(100% - 0.15em + 0.02em));

  &[data-size="sm"] {
    @apply size-3.5;
  }

  &[data-size="md"] {
    @apply size-4;
  }

  &[data-size="lg"] {
    @apply size-4.5;
  }

  &[data-color="current"] {
    @apply text-current;
  }

  &[data-color="neutral"] {
    @apply text-neutral;
  }

  &[data-color="info"] {
    @apply text-info;
  }

  &[data-color="success"] {
    @apply text-success;
  }

  &[data-color="warning"] {
    @apply text-warning;
  }

  &[data-color="error"] {
    @apply text-error;
  }
}