@import "./resets.css";
@import "./utils.css";
@import "./components.css" layer(components);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-tiny: 0.625rem;

  --radius-xs: 0.375rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.25rem;
  --radius-2xl: 2rem;
  --radius-3xl: 3rem;

  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-snow: oklch(0.9911 0 0);
  --color-eclipse: oklch(0.2103 0.0059 285.89);

  --color-background: oklch(0.9702 0 0);
  --color-foreground: var(--color-eclipse);

  --color-surface: var(--color-white);
  --color-surface-foreground: var(--color-foreground);
  --color-surface-hover: color-mix(in oklab, var(--color-surface) 90%, var(--color-surface-foreground) 4%);

  --color-primary: oklch(56.71% 0.209 257.94);
  --color-primary-foreground: var(--color-snow);
  --color-primary-hover: color-mix(in oklab, var(--color-primary) 90%, var(--color-primary-foreground) 10%);

  --color-secondary: oklch(94% 0.001 286.375);
  --color-secondary-foreground: var(--color-eclipse);
  --color-secondary-hover: color-mix(in oklab, var(--color-secondary) 96%, var(--color-secondary-foreground) 4%);

  --color-success: oklch(0.7329 0.1935 150.81);
  --color-success-foreground: var(--color-eclipse);
  --color-success-hover: color-mix(in oklab, var(--color-success) 90%, var(--color-success-foreground) 10%);

  --color-warning: oklch(0.8203 0.1388 76.34);
  --color-warning-foreground: var(--color-eclipse);
  --color-warning-hover: color-mix(in oklab, var(--color-warning) 90%, var(--color-warning-foreground) 10%);

  --color-danger: oklch(0.594 0.1967 24.63);
  --color-danger-foreground: var(--color-snow);
  --color-danger-hover: color-mix(in oklab, var(--color-danger) 90%, var(--color-danger-foreground) 10%);

  --color-overlay: var(--color-white);
  --color-overlay-foreground: var(--color-foreground);

  --color-muted: oklch(0.5517 0.0138 285.94);
  --color-focus: var(--color-primary);
  --color-backdrop: rgba(0, 0, 0, 0.3);
  --color-scrollbar: oklch(87.1% 0.006 286.286);

  --color-border: oklch(90% 0.004 286.32);
  --color-border-secondary: color-mix(in oklab, var(--color-surface) 78%, var(--color-surface-foreground) 22%);

  --color-separator: oklch(92% 0.004 286.32);
  --color-separator-secondary: color-mix(in oklab, var(--color-surface) 85%, var(--color-surface-foreground) 15%);
}

@layer theme {
  .dark {
    --color-background: oklch(12% 0.005 285.823);
    --color-foreground: var(--color-snow);

    --color-surface: oklch(0.2103 0.0059 285.89);
    --color-surface-foreground: var(--color-foreground);

    --color-secondary: oklch(27.4% 0.006 286.033);
    --color-secondary-foreground: var(--color-snow);

    --color-overlay: oklch(0.2103 0.0059 285.89);
    --color-overlay-foreground: var(--color-foreground);

    --color-muted: oklch(70.5% 0.015 286.067);
    --color-focus: var(--color-primary);
    --color-backdrop: rgba(0, 0, 0, 0.6);
    --color-scrollbar: oklch(70.5% 0.015 286.067);

    --color-border: oklch(28% 0.006 286.033);

    --color-separator: oklch(25% 0.006 286.033);
  }
}