.drawer__trigger {
  @apply relative transition motion-reduce:transition-none;

  &:focus-visible {
    @apply z-10 status-focus;
  }

  &[data-disabled] {
    @apply status-disable;
  }
}

.drawer__swipe-area {
  @apply transition-opacity motion-reduce:transition-none;

  &[data-disabled] {
    @apply status-disable;
  }
}

.drawer__backdrop {
  --backdrop-opacity: 0.4;

  @variant dark {
    --backdrop-opacity: 0.6;
  }

  @apply fixed inset-0 bg-black opacity-[calc(var(--backdrop-opacity)*(1-var(--drawer-swipe-progress)))]
  transition-opacity duration-450 ease-[cubic-bezier(0.32,0.72,0,1)] motion-reduce:transition-none;

  &[data-starting-style],
  &[data-ending-style] {
    @apply opacity-0;
  }

  &[data-ending-style] {
    @apply duration-[calc(var(--drawer-swipe-strength)*0.4s)];
  }

  &[data-swiping] {
    @apply duration-0;
  }
}

.drawer__viewport {
  @apply fixed inset-0 p-2 flex;

  &[data-position="top"] {
    @apply items-start justify-center;
  }

  &[data-position="bottom"] {
    @apply items-end justify-center;
  }

  &[data-position="left"] {
    @apply items-stretch justify-start;
  }

  &[data-position="right"] {
    @apply items-stretch justify-end;
  }
}

.drawer__popup {
  --bleed: -0.5rem;
  --peek: 0.75rem;
  --stack-step: 0.05;

  @apply relative p-6 max-h-full flex flex-col rounded-md shadow-lg bg-overlay border border-border touch-auto
  transition duration-450 ease-[cubic-bezier(0.32,0.72,0,1)] motion-reduce:transition-none transform-gpu;

  &:focus-visible {
    @apply status-focus;
  }

  &[data-position="top"],
  &[data-position="bottom"] {
    --stack-progress: clamp(0, var(--drawer-swipe-progress), 1);
    --stack-peek-offset: max(0px, calc((var(--nested-drawers) - var(--stack-progress)) * var(--peek)));
    --scale-base: calc(max(0, 1 - (var(--nested-drawers) * var(--stack-step))));
    --scale: clamp(0, calc(var(--scale-base) + (var(--stack-step) * var(--stack-progress))), 1);
    --shrink: calc(1 - var(--scale));
    --height: max(0px, calc(var(--drawer-frontmost-height, var(--drawer-height)) - var(--bleed)));

    @apply h-(--drawer-height) transition-[transform,height,opacity];
  }

  &[data-position="top"] {
    @apply w-full origin-[50%_var(--bleed)] transform-[translateY(calc(-1*(var(--drawer-swipe-movement-y)-var(--stack-peek-offset)-(var(--shrink)*var(--height)))))_scale(var(--scale))];

    &[data-starting-style],
    &[data-ending-style] {
      @apply transform-[translateY(calc(-1*(100%-var(--bleed)+2px)))];
    }
  }

  &[data-position="bottom"] {
    @apply w-full origin-[50%_calc(100%-var(--bleed))] transform-[translateY(calc(var(--drawer-swipe-movement-y)-var(--stack-peek-offset)-(var(--shrink)*var(--height))))_scale(var(--scale))];

    &[data-starting-style],
    &[data-ending-style] {
      @apply transform-[translateY(calc(100%-var(--bleed)+2px))];
    }
  }

  &[data-position="left"] {
    @apply w-xs transform-[translateX(calc(-1*var(--drawer-swipe-movement-x)))];

    &[data-starting-style],
    &[data-ending-style] {
      @apply transform-[translateX(calc(-1*(100%-var(--bleed)+2px)))];
    }
  }

  &[data-position="right"] {
    @apply w-xs transform-[translateX(calc(var(--drawer-swipe-movement-x)))];

    &[data-starting-style],
    &[data-ending-style] {
      @apply transform-[translateX(calc(100%-var(--bleed)+2px))];
    }
  }

  &[data-ending-style],
  &[data-ending-style][data-swiping],
  &[data-ending-style][data-nested-drawer-swiping] {
    @apply duration-[calc(var(--drawer-swipe-strength)*0.4s)];
  }

  &[data-swiping],
  &[data-nested-drawer-swiping] {
    @apply select-none duration-0;
  }

  &[data-nested-drawer-open] {
    @apply h-[calc(var(--height)+var(--bleed))];
  }
}

.drawer__handle {
  &[data-position="top"],
  &[data-position="bottom"] {
    @apply absolute left-1/2 -translate-x-1/2 w-10 h-1 rounded-full bg-neutral pointer-events-none;
  }

  &[data-position="top"] {
    @apply bottom-2;
  }

  &[data-position="bottom"] {
    @apply top-2;
  }

  &[data-position="left"],
  &[data-position="right"] {
    @apply sr-only;
  }
}

.drawer__content {
  @apply min-h-0 flex flex-col;
}

.drawer__title {
  @apply text-base font-medium text-pretty text-foreground leading-snug;
}

.drawer__description {
  @apply text-base text-pretty text-muted;

  .drawer__title + & {
    @apply mt-1;
  }
}

.drawer__actions {
  @apply mt-auto pt-4 flex items-center justify-end gap-2;
}

.drawer__close {
  @apply relative transition motion-reduce:transition-none;

  &[data-native-close] {
    @apply z-1 absolute top-4 right-4 size-6 flex items-center justify-center rounded-sm bg-neutral-soft text-muted
    select-none;

    & > svg {
      @apply size-4;
    }

    &:hover,
    &:active {
      @apply bg-neutral-hover;
    }
  }

  &:focus-visible {
    @apply z-10 status-focus;
  }

  &[data-disabled] {
    @apply status-disable;
  }
}

